@model List<InventoryViewModel>

<head>
    <link rel="stylesheet" href="~/css/inventory.css" />
</head>

<h2 class="page-title">Your Ponds</h2>
<div class="pond-list">
    @foreach (var pond in Model)
    {
        <div class="pond-item">
            <div class="pond-image">
                <img src="@pond.PondImageUrl" alt="@pond.nameType Image" class="pond-img" />
            </div>
            <p class="pond-name">@pond.nameType</p>
            <a href="@Url.Action("SelectPond", "Inventory", new { pondId = pond.itemId })" class="select-button">Select</a>
        </div>
    }
</div>
<a href="@Url.Action("KoiGame", "Game")" class="back-button">Back to Main</a>
